<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Called Time: <span th:text="${calledTime}"></span></p>
<p>Javascript Time: <span id="jsTime"></span></p>
<hr/>
<input type="text" id="title" placeholder="Enter Title here..."/>
<button type="button" id="showNews">Show news</button>
<button type="button" id="deleteNews">Delete news</button>
<script>
    document.getElementById("jsTime").innerText = new Date().toISOString();
</script>

<script src="/js/news/api.js"></script>
<script src="/js/news/app.js"></script>


</body>
</html>